# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.idea
.vscode
.packages
.pub/
.gradle/
build/
ios/.generated/
packages
pubspec.lock
.dart_tool/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

example/ios/Podfile.lock
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig/
**/Flutter/flutter_assets/
example/ios/Flutter/flutter_export_environment.sh
android/.project
android/.settings/
android/.classpath
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/

# FVM Version Cache
.fvm/